@import url("https://fonts.googleapis.com/css?family=B612:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");

* {
    margin: 0;
}

body {
    background-color: white;
    font-family: "IBM Plex Serif", serif;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #0090ff;
    font-size: 2.1em;
    -webkit-animation: h1 6s cubic-bezier(0.3, 0.05, 0.7, 1) infinite both;
    animation: h1 6s cubic-bezier(0.3, 0.05, 0.7, 1) infinite both;
}
@-webkit-keyframes h1 {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}
@keyframes h1 {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

p {
    text-align: center;
}

/* MAIN */
#main {
    width: 100%;
    text-align: center;
}
img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}
h3 {
    color: grey;
    font-style: italic;
    margin-bottom: 5px;
}
h2 {
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 0px;
}
h4 {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 50px;
}
.inputfield {
    margin-bottom: 30px;
}

.input {
    outline: none;
    text-align: center;
    font-family: "B612", sans-serif;
    font-size: 2em;
    color: #0090ff;
    background-color: transparent;
    border: 0px;
    width: 200px;
    height: 50px;
}
input:hover {
    outline: 1px solid #0090ff;
}

.choosewrapper {
    margin-top: 15px;
}
.choose {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.choose + label {
    display: inline-block;
    border: 0px solid #0090ff;
    font-family: "B612", sans-serif;
    color: #0090ff;
    font-size: 2em;
    font-weight: 700;
    width: 220px;
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}
.choose:focus + label,
.choose + label:hover {
    color: #ed6e00;
}
.go {
    text-align: center;
    border: 0;
    outline: 0px;
    font-family: "B612", sans-serif;
    color: #ed6e00;
    font-size: 2.2em;
    width: 85px;
    cursor: pointer;
    background-color: transparent;
}
.go:hover {
    color: #0090ff;
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* MODALBOX */
.modalbox {
    position: fixed;
    justify-content: center;
    top: 20px;
    bottom: 20px;
    left: 25%;
    right: 0px;
    overflow: scroll;
    width: 700px;
    background-color: #000;
    background-attachment: fixed;
}

/* POPUPBOX */
#popupbox {
    background-color: #000;
    color: #ed6e00;
    width: 700px;
    margin-bottom: 30px;
    z-index: 99999;
}
#popupbox .input:hover {
    color: #ed6e00;
    outline: 1px solid #ed6e00;
}
#popupbox p {
    overflow: visible;
    font-family: "B612", sans-serif;
    color: #ed6e00;
    font-size: 2.5em;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
#popupbox img {
    width: 400px;
    height: 400px;
}
#popupbox h2 {
    color: white;
}
#popupbox h3 {
    margin: 0px;
    color: white;
}
#popupbox h4 {
    color: white;
    margin: 0px;
}
#popupbox h5 {
    font-size: 1.2em;
    margin-top: 5px;
}
#popupbox h6 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 15px;
    outline: none;
}
#popupbox .inputfield {
    display: flex;
    flex-direction: column;
}
#popupbox .input {
    font-size: 1.3em;
}
#popupbox .go {
    margin-left: -5px;
}
#popupbox .go:hover {
    color: white;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    padding: 35px;
}
#more-button {
    font-family: "B612", sans-serif;
    outline: none;
    border: 0;
    background-color: transparent;
    color: #ed6e00;
    height: 40px;
    font-size: 1.3em;
    cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .modalbox {
        width: 100%;
        right: 0px;
        left: 0px;
        top: 30px;
        bottom: 30px;
    }
    #popupbox {
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 750px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
    }
    .modalbox {
        width: 100%;
        right: 0px;
        left: 0px;
        top: 30px;
        bottom: 30px;
    }
    #popupbox {
        width: 100%;
        right: 0px;
        left: 0px;
    }
}
@media screen and (max-width: 450px) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
    }
    .modalbox {
        width: 100%;
        right: 0px;
        left: 0px;
        top: 30px;
        bottom: 30px;
    }
    #popupbox {
        width: 100%;
        right: 0px;
        left: 0px;
    }
    #popupbox img {
        width: 300px;
        height: 300px;
    }
}
